// COLORS
$color-primary: #66D3FA;
$color-primary-dark: #3C99DC;
$color-primary-light: #D5F3FE;

$color-secondary: #E7F9FF;
$color-secondary-light: #FFFFFF;
$color-secondary-dark: #C7BCBC;


// FONT VARIABLES
$font-primary:'Libre Franklin', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;  // 1000px
$bp-medium: 50em;  // 800px
$bp-small: 37.5em;   //600px
$bp-smallest: 30em; //480px


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 35%;
    }
}

body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    //cursor: default;
    cursor: url('../img/cursor.png'), default;
}

a:link,
a:visited {
    text-decoration: none;
    color:inherit;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 10;
    color:$color-primary-dark;

    overflow-x: hidden;

    //display: none;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.won, .about {
    position: absolute;
    width:100vw;
    height: 100vh;
    background-color: rgba(87, 87, 87, 0.582);
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        font-size: 10rem;
        color: #fff;
        text-shadow: 0px 0px 25px rgba(27, 27, 27, 0.281);
        background-color: rgba($color-primary, .8);
        padding: 5rem;
        border-radius: 20px;
        transition: all .5s;

        margin: 0 2rem;

        &:hover {
            background-color: rgba($color-primary-dark, 1);
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 8rem;
        }
    }
}

.about__text {
    font-size: 1.8rem;
}

.block {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: none;
}

#canvas1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    //background-color: cyan;
    background-image: linear-gradient(to right top, $color-primary-dark, #3fa4e2, #45afe8, #4dbaee, #57c5f3, #68ccf6, #78d4f8, #87dbfb, #9ce1fb, #b0e7fc, #c3edfd, $color-primary-light);
    z-index: 5;
}

.none {
    display: none !important;
}
.danger {
    font-weight: 400 !important; 
    color: crimson !important;
}
.heading4{
    font-size: 2.5rem;
}


